<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.devicemanagement.mapper.DeviceMapper">
    
    <resultMap type="Device" id="DeviceResult">
        <result property="id"    column="id"    />
        <result property="typeId"    column="type_id"    />
        <result property="name"    column="name"    />
        <result property="managerId"    column="manager_id"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="useTimes"    column="use_times"    />
        <result property="belongMajor"    column="belong_major"    />
        <result property="belongLabId"    column="belong_lab_id"    />
        <result property="isDel"    column="is_del"    />
    </resultMap>

    <sql id="selectDeviceVo">
        select id, type_id, name, manager_id, price, status, use_times, belong_major, belong_lab_id, is_del from device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>  
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="managerId != null  and managerId != ''"> and manager_id = #{managerId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="useTimes != null "> and use_times = #{useTimes}</if>
            <if test="belongMajor != null  and belongMajor != ''"> and belong_major = #{belongMajor}</if>
            <if test="belongLabId != null  and belongLabId != ''"> and belong_lab_id = #{belongLabId}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
        </where>
    </select>
    
    <select id="selectDeviceById" parameterType="String" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where id = #{id}
    </select>

    <select id="countTotalDeviceNumber" resultType="java.lang.Integer">
        select count(*)
        from `device`;
    </select>

    <select id="countDeviceByStatus" resultType="java.lang.Integer">
        select count(*)
        from `device`
        where `status` = #{status}
    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeId != null and typeId != ''">type_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="managerId != null and managerId != ''">manager_id,</if>
            <if test="price != null">price,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="useTimes != null">use_times,</if>
            <if test="belongMajor != null and belongMajor != ''">belong_major,</if>
            <if test="belongLabId != null and belongLabId != ''">belong_lab_id,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="typeId != null and typeId != ''">#{typeId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="managerId != null and managerId != ''">#{managerId},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="useTimes != null">#{useTimes},</if>
            <if test="belongMajor != null and belongMajor != ''">#{belongMajor},</if>
            <if test="belongLabId != null and belongLabId != ''">#{belongLabId},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="managerId != null and managerId != ''">manager_id = #{managerId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="useTimes != null">use_times = #{useTimes},</if>
            <if test="belongMajor != null and belongMajor != ''">belong_major = #{belongMajor},</if>
            <if test="belongLabId != null and belongLabId != ''">belong_lab_id = #{belongLabId},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceById" parameterType="String">
        delete from device where id = #{id}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>