<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.devicemanagement.mapper.ScheduleMapper">
    
    <resultMap type="Schedule" id="ScheduleResult">
        <result property="id"    column="id"    />
        <result property="labId"    column="lab_id"    />
        <result property="term"    column="term"    />
        <result property="weekDay"    column="week_day"    />
        <result property="lesson"    column="lesson"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectScheduleVo">
        select id, lab_id, term, week_day, lesson, begin_time, end_time from schedule
    </sql>

    <select id="selectScheduleList" parameterType="Schedule" resultMap="ScheduleResult">
        <include refid="selectScheduleVo"/>
        <where>  
            <if test="labId != null  and labId != ''"> and lab_id = #{labId}</if>
            <if test="term != null  and term != ''"> and term = #{term}</if>
            <if test="weekDay != null  and weekDay != ''"> and week_day = #{weekDay}</if>
            <if test="lesson != null "> and lesson = #{lesson}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectScheduleById" parameterType="String" resultMap="ScheduleResult">
        <include refid="selectScheduleVo"/>
        where id = #{id}
    </select>

    <select id="queryIdBetweenDay" resultType="java.lang.String">
        select `id`
        from `schedule`
        where `day` between #{begin} and #{end}
    </select>

    <insert id="insertSchedule" parameterType="Schedule">
        insert into schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="labId != null and labId != ''">lab_id,</if>
            <if test="term != null and term != ''">term,</if>
            <if test="weekDay != null and weekDay != ''">week_day,</if>
            <if test="lesson != null">lesson,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="labId != null and labId != ''">#{labId},</if>
            <if test="term != null and term != ''">#{term},</if>
            <if test="weekDay != null and weekDay != ''">#{weekDay},</if>
            <if test="lesson != null">#{lesson},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateSchedule" parameterType="Schedule">
        update schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="labId != null and labId != ''">lab_id = #{labId},</if>
            <if test="term != null and term != ''">term = #{term},</if>
            <if test="weekDay != null and weekDay != ''">week_day = #{weekDay},</if>
            <if test="lesson != null">lesson = #{lesson},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScheduleById" parameterType="String">
        delete from schedule where id = #{id}
    </delete>

    <delete id="deleteScheduleByIds" parameterType="String">
        delete from schedule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>