<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.devicemanagement.mapper.PurchaseMapper">


    <insert id="insert" parameterType="Purchase">
        insert into `purchase` values(#{id}, #{name}, #{want}, #{count}, #{create_time}, #{update_time})
    </insert>
</mapper>